<link rel="stylesheet" href="${cxt!}/jsfile/webuploader/webuploader.css" type="text/css">
<script type="text/javascript" charset="utf-8" src="${cxt!}/jsfile/regionData.js"></script>
<script type="text/javascript" charset="utf-8" src="${cxt!}/jsfile/region_init.js"></script>
<script type="text/javascript" charset="utf-8" src="${cxt!}/jsfile/webuploader/webuploader.js"></script>
<script type="text/javascript">
<% if(!isEmpty(fphouse.house_province_id)){%>
region_init("select_province","select_city","select_area",${fphouse.house_province_id},${fphouse.house_city_id},${fphouse.house_region_id});
<% }else{%>
region_init("select_province","select_city","select_area")
<%} %>
/**
 *删除图片
 */
function delimg(obj,fileId) {
	$('#isupdateImge').val("true");
	$(obj).parent().remove();
}
</script>
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">

	<!-- BEGIN PAGE HEADER-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<ul class="breadcrumb">
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/platform/index/content');">主页</a> <span class="divider">/</span></li>
				<li><a href="javascript:void(0)" onclick="common_ajax.ajaxMainPanel('/fapai/fphouse');">法拍房管理</a> <span class="divider">/</span></li>
				<li class="active">查看</li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->
		</div>
	</div>
	<!-- END PAGE HEADER-->

	<!-- BEGIN PAGE CONTENT-->
	<div class="row-fluid">
		<div class="span12">
			<!-- BEGIN VALIDATION STATES-->
			<div class="widget red">
				<div class="widget-title">
					<h4>
						<i class=" icon-key"></i> 查看
					</h4>
				</div>
				<div class="widget-body form">	
			
					<form role="form" class="form-horizontal">
						
											<div class="control-group">
							<label class="control-label">房屋标题:</label>
							<div class="controls">
								<input type="hidden" name="fphouse.is_delete" value="${fphouse.is_delete!}"/>
								<input type="text" name="fphouse.house_title" class="span9"  value="${fphouse.house_title!}" maxlength="20" vMin="2" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="2-20位任意字符">
							<span class="help-inline"> </span>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">房屋属性:</label>
							<div class="controls">
								<select name="fphouse.house_nature" class="span2" class="combox" >
									<option value=1 ${fphouse.house_nature! == 1 ? "selected='selected'":"" }>住宅</option>
									<option value=2 ${fphouse.house_nature! == 2 ? "selected='selected'":"" }>商业</option>
									<option value=3 ${fphouse.house_nature! == 3 ? "selected='selected'":"" }>工业</option>
									<option value=4 ${fphouse.house_nature! == 4 ? "selected='selected'":"" }>其他</option>
								</select>	
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">拍卖状态</label>
							<div class="controls">
								<select name="fphouse.auction_state" class="span2" class="combox" >
									<option value="一拍" ${fphouse.auction_state! == "一拍" ? "selected='selected'":"" }>一拍</option>
									<option value="二拍" ${fphouse.auction_state! == "二拍" ? "selected='selected'":"" }>二拍</option>
									<option value="变卖" ${fphouse.auction_state! == "变卖" ? "selected='selected'":"" }>变卖</option>
								</select>	
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">当前价:</label>
							<div class="controls">
								<input type="text" class="span3" name="fphouse.current_price" value="${fphouse.current_price!}" maxlength="20" vMin="1" vType="money" onblur="platform_verify.onblurVali(this);" placeholder="金额(两位小数)">
								<span class="help-inline"></span>
								<span class="help-inline">元</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">法院评估价:</label>
							<div class="controls">
								<input type="text" class="span3" name="fphouse.court_price" value="${fphouse.court_price!}" maxlength="20" vMin="1" vType="money" onblur="platform_verify.onblurVali(this);" placeholder="金额(两位小数)">
								<span class="help-inline"></span>
								<span class="help-inline">元</span>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">市场评估价:</label>
							<div class="controls">
								<input type="text" class="span3" name="fphouse.market_price" value="${fphouse.market_price!}" maxlength="20" vMin="1" vType="money" onblur="platform_verify.onblurVali(this);" placeholder="金额(两位小数)">
								<span class="help-inline"></span>
								<span class="help-inline">元</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">图片：</label>
							<div class="controls">
									<!--dom结构部分-->
									<div id="uploader-demo">
									    <!--用来存放item-->
									    <div id="fileList" class="uploader-list">
									     <input type="hidden"  id="isupdateImge"  name="isupdateImge" value="false" />
									    <% if(!isEmpty(fileList)){ for(file in fileList){ %>
									    <div id="WU_FILE"   class="file-item thumbnail upload-state-done">
									    <a href="javascript:void(0);" onclick="delimg(this)" style="float:right;position: absolute;top: 0;right: 2px;background: #ffffff;border-radius: 0px;line-height: 20px;width: 20px;border-radius: 10px;text-align: center;">X</a>
									    <img class="headerImg" style="max-width:144px;max-height:108px;width:144px;height:108px" src="${piccontext!}/${file.pic_url!}">
									    <div class="info" style="width:144px">
									    <input type="hidden" class="fileids"  style="width:62px" name="fileids" value="${file.fileid!}" />
									    <label >排序：</label>
									    <input type="text" style="width:83px" name="fileindex" value="${file.pic_order!}">
									    </div></div>
										 <%}}%>
									    </div>
									   
									</div>
								
							</div>
						</div>
						<div class="control-group">
						<label class="control-label"></label>
							<div class="controls">
						 <div id="filePicker">选择图片</div>
						 <span class="help-inline">推荐尺寸：1440*1080 </span>
						 </div>
						 </div>
						<div class="control-group">
							<label class="control-label">位置：</label>
							<div class="controls">
								<select id="select_province"  class="span2" name="fphouse.house_province_id" ></select>
							
								<select id="select_city"  class="span2" name="fphouse.house_city_id" ></select>
							
								<select id="select_area"  class="span2" name="fphouse.house_region_id" ></select>
								
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">住宅小区:</label>
							<div class="controls">
								<input type="text" class="span8" name="fphouse.resident_area" value="${fphouse.resident_area!}" maxlength="20" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);" placeholder="2-20位任意字符">
							<span class="help-inline"> </span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">拍卖开始时间</label>
							<div class="controls">
								<input type="text" class="span5" name="fphouse.auction_start_time" readonly="readonly"  value='${fphouse.auction_start_time!, dateFormat="yyyy-MM-dd HH:mm:ss"}' 
								onClick="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss', minDate:'1900-01-01'})">
								<span class="help-inline"> </span>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">拍卖结束时间</label>
							<div class="controls">
								<input type="text" class="span5" name="fphouse.auction_end_time" readonly="readonly" value='${fphouse.auction_end_time!, dateFormat="yyyy-MM-dd HH:mm:ss"}' 
								onClick="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss', minDate:'1900-01-01'})">
								<span class="help-inline"> </span>
							</div>
						</div>
						
						
						<div class="control-group">
							<label class="control-label">房屋面积:</label>
							<div class="controls">
								<input type="text" class="span2" name="fphouse.house_area" value="${fphouse.house_area!}" maxlength="20" vMin="1" vType="money" onblur="platform_verify.onblurVali(this);" >
								<span class="help-inline"></span>
								<span class="help-inline">平方米</span>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">楼层:</label>
							<div class="controls">
								<input type="text" class="span2" name="fphouse.flour_num" value="${fphouse.flour_num!}"  maxlength="10" vMin="0" vType="number" onblur="platform_verify.onblurVali(this);">
								<span class="help-inline"> </span>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">年代:</label>
							<div class="controls">
								<input type="text" class="span2" name="fphouse.year" value="${fphouse.year!}" maxlength="10" vMin="0" vType="number" onblur="platform_verify.onblurVali(this);">
								<span class="help-inline"> </span>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">租约:</label>
							<div class="controls">
								<input type="text" class="span2" name="fphouse.lease" value="${fphouse.lease!}">
								<span class="help-inline"> </span>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">空置:</label>
							<div class="controls">
								<input type="text" class="span2" name="fphouse.vacant" value="${fphouse.vacant!}">
								<span class="help-inline"> </span>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">税费:</label>
							<div class="controls">
								<input type="text" class="span2" name="fphouse.tax" value="${fphouse.tax!}" maxlength="20" vMin="0" vType="money" onblur="platform_verify.onblurVali(this);" >
								<span class="help-inline"></span>
								<span class="help-inline">元</span>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">周边设施</label>
							<div class="controls">
								<input type="text" class="span9" name="fphouse.surrounding"  value="${fphouse.surrounding!}">
								<span class="help-inline"> </span>
							</div>
						</div>
						
						
						<div class="control-group">
							<label class="control-label">法院公告</label>
							<div class="controls">
								<textarea id="dt" class="span9" cols="50" rows="30" name="fphouse.auction_announce">${fphouse.auction_announce!}</textarea><br />
								<span class="help-inline"> </span>
							</div>
						</div>
						
					</form>
			
				</div>
			</div>
			<!-- END VALIDATION STATES-->
		</div>
	</div>

	<!-- END PAGE CONTAINER-->
</div>